<input type="text" id="idtarea" name="idtarea" [(ngModel)]="idtarea">
<button (click)="verTareaUnica()">Ver 1 sola tarea</button>
<button (click)="crearNuevaTarea()">Nueva tarea</button>
<button (click)="eliminarTarea()">Eliminar</button>
<button (click)="modificarTarea()">Modificar</button>
<table>
    <tr>
        <th>userId</th>
        <th>id</th>
        <th>title</th>
        <th>completed</th>
    </tr>
    <tr>
        <td> {{tareita.userId}} </td>
        <td> {{tareita.id}} </td>
        <td> {{tareita.title}} </td>
        <td> {{tareita.completed}} </td>
    </tr>
</table>

<button (click)="verListadoCompleto()">Ver listado</button>
<table>
    <tr>
        <th>userId</th>
        <th>id</th>
        <th>title</th>
        <th>completed</th>
    </tr>
    <tr *ngFor="let tarea of tareas">
        <td> {{tarea.userId}} </td>
        <td> {{tarea.id}} </td>
        <td> {{tarea.title}} </td>
        <td> {{tarea.completed}} </td>
    </tr>
</table>

<router-outlet></router-outlet>